<!--Extended Table starts-->
<div class="row text-left">
    <div class="col-12">
        <div class="content-header mt-0">Usuarios Móvil</div>
        <p class="content-sub-header">Listado de Usuarios.</p>
    </div>
</div>
<section id="extended">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="projectinput5">Criterios de Búsqueda</label>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type='text' class="form-control" [(ngModel)]="strNombre"
                                            placeholder='Filtra por nombre' />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2" align="left">
                            <div class="form-group">
                                <label for="projectinput5">Exportar</label>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button *ngIf="getAccion('EXCEL')" type="button"
                                            class="btn btn-raised btn-raised btn-success" (click)="exportAsXLSX()">
                                            <i class="fa fa-file-excel-o"></i>
                                        </button>
                                        <button *ngIf="getAccion('PDF')" type="button" style="margin-left:0.7rem"
                                            class="btn btn-raised btn-raised btn-danger" (click)="exportAsPDF()">
                                            <i class="fa fa-file-pdf-o"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="projectinput5">Estado</label>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <select id="cmbEstado" name="cmbEstado" class="form-control"
                                            [(ngModel)]="strEstadoFiltro" #cmbRol="ngModel">
                                            <option *ngFor="let item of arrayEstados" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="projectinput5">Tipo</label>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <select id="cmbTipoCliente" name="cmbTipoCliente" class="form-control"
                                            [(ngModel)]="strTipoCltFiltro" #cmbRol="ngModel">
                                            <option *ngFor="let item of arrayTipoCliente" value="{{item['strTipo']}}">
                                                {{item['strTipo']}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div *ngIf="getAccion('CREAR')" class="col-sm-2">
                            <div class="form-group">
                                <label for="projectinput5">Acción</label>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-raised btn-raised btn-primary"
                                            [routerLink]="['/forms/centroComercial/0']">
                                            <i class="fa fa-plus"></i> Nuevo Centro Comercial
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="getAccion('VER')" class="card-block">
                        <div class="card-block">
                            <table class="table table-responsive-md text-center">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                        <th>Tipo</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of arrayResultado | FilterClienteMovil : strNombre : strEstadoFiltro : strTipoCltFiltro | paginate: { itemsPerPage: 20, currentPage: p }"
                                        [className]="item['ESTADO']=='INACTIVO'?'bg-danger':'bg-light'">
                                        <td>{{item['NOMBRE_COMPLETO']}}</td>
                                        <td>{{item['CORREO']}}</td>
                                        <td>{{item['TIPO_CLIENTE']}}</td>
                                        <td>{{item['ESTADO']}}</td>
                                        <td>
                                            <a *ngIf="getAccion('EDITAR')" class="success p-0" data-original-title=""
                                                title="Editar cliente"
                                                [routerLink]="['/forms/clienteMovil/' + item['ID_CLIENTE']]">
                                                <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Extended Table Ends-->