<!--Extended Table starts-->
<div class="row text-left">
    <div class="col-12">
        <div class="content-header mt-0">Usuarios Móvil</div>
        <p class="content-sub-header">Listado de Usuarios.</p>
    </div>
</div>
<section id="extended">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="projectinput5">Criterios de Búsqueda</label>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type='text' class="form-control" [(ngModel)]="strNombre"
                                            placeholder='Filtra por nombre' />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-sm-2" align="left">
                            <div class="form-group">
                                <label for="projectinput5">Exportar</label>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button *ngIf="getAccion('EXCEL')" type="button"
                                            class="btn btn-raised btn-raised btn-success" (click)="exportAsXLSX()">
                                            <i class="fa fa-file-excel-o"></i>
                                        </button>
                                        <button *ngIf="getAccion('PDF')" type="button" style="margin-left:0.7rem"
                                            class="btn btn-raised btn-raised btn-danger" (click)="exportAsPDF()">
                                            <i class="fa fa-file-pdf-o"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="col-md-2">
                            <label for="projectinput5">Estado</label>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <select id="cmbEstado" name="cmbEstado" class="form-control"
                                            [(ngModel)]="strEstadoFiltro" #cmbRol="ngModel">
                                            <option *ngFor="let item of arrayEstados" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="getAccion('VER')" class="card-block">
                        <div class="card-block">
                            <table class="table table-responsive-md text-center">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                        <th>Estado</th>
                                        <th>Empresa</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--
                                    <tr *ngFor="let item of arrayResultado | paginate: { itemsPerPage: 20, currentPage: p }"
                                    -->
                                    <tr *ngFor="let item of arrayResultado | FilterClienteMovil : strNombre : strEstadoFiltro | paginate: { itemsPerPage: 20, currentPage: p }"
                                        [className]="item['strEstado']=='INACTIVO'?'bg-danger':'bg-light'">
                                        <td>{{item['strNombre']}}</td>
                                        <td>{{item['strCorreo']}}</td>
                                        <td>{{item['strEstado']}}</td>
                                        <td>{{item['strNombreEmpresa']}}</td>
                                        <td>
                                            <a *ngIf="getAccion('EDITAR')" class="success p-0" data-original-title=""
                                                title="Editar cliente"
                                                [routerLink]="['/forms/clienteMovil/' + item['intIdCliente']]">
                                                <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Extended Table Ends-->