<!--Extended Table starts-->
<div class="row text-left">
    <div class="col-12">
        <div class="content-header mt-0">Encuestas</div>
        <p class="content-sub-header">Listado encuestas</p>
    </div>
</div>
<section id="extended">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="projectinput5">Criterios de Búsqueda</label>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type='text' class="form-control" [(ngModel)]="descripcionEncuesta"
                                            placeholder='Filtra por nombre de Empresa' />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div *ngIf="getAccion('CREAR')" class="col-sm-6">
                            <div class="form-group">
                                <label for="projectinput5">Acción</label>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-raised btn-raised btn-primary"
                                            [routerLink]="['/forms/encuesta/0']">
                                            <i class="fa fa-plus"></i> Nueva Encuesta
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div *ngIf="objLoading" class="form-group">
                    <div class="col-md-12 text-center">
                        <div style="width: 3rem; height: 3rem;" class="spinner-border text-default" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="getAccion('VER')" class="card-block">
                        <table class="table table-responsive-md text-center">
                            <thead>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Sucursal</th>
                                    <th>Area</th>
                                    <th>Descripción</th>
                                    <th>Preguntas</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let item of arrayEncuestas | FilterEncuesta : descripcionEncuesta | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td>{{item['strEmpresa']}}</td>
                                    <td>{{item['strSucursal']}}</td>
                                    <td>{{item['strArea']}}</td>
                                    <td>{{item['strTitulo']}}</td>
                                    <td>{{item['strDescripcion']}}</td>
                                    <td>
                                        <a class="success p-0" data-original-title="" title="Ver Preguntas"
                                            (click)="verPreguntas(item)">
                                            <i class="ft-eye font-medium-3 mr-2"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a *ngIf="getAccion('EDITAR')" class="success p-0" data-original-title=""
                                            title="Editar Encuesta"
                                            [routerLink]="['/forms/encuesta/' + item['intIdEncuesta']]">
                                            <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Extended Table Ends-->