<!-- Line Chart Starts -->
<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header mt-0">Publicidad</div>
        <p class="content-sub-header">Gráfico de publicidades de acuerdo al contador de vistas</p>
    </div>
</div>

<!-- Bar Chart Starts -->
<div class="row text-left">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="projectinput5">Fecha inicio</label>
                            <div class="row">
                                <div class="col-md-12">                          
                                    <input type="date" id="txtFechaInicio" [(ngModel)]="parametros.fechaInicio" class="form-control" (change)="getVistasPublicidad()" name="txtFechaInicio">
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="projectinput5">Fecha fin</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="date" id="txtFechaFin" [(ngModel)]="parametros.fechaFin" class="form-control" (change)="getVistasPublicidad()" name="txtFechaFin">
                                </div>  
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="projectinput5">Criterio</label>
                            <select id="cmbRol" name="cmbRol" class="form-control" [(ngModel)]="parametros.criterio" (change)="getVistasPublicidad()" >
                                <option value="GLOBAL" >Global</option>
                                <option value="EDAD" >Edad</option>
                                <option value="GENERO" >Genero</option> 
                            </select>
                        </div>                                              
                    </div>
                </div>
            </div>
            <div *ngIf="loading" class="form-group">
                <div class="col-md-12 text-center">
                    <div style="width: 3rem; height: 3rem;"  class="spinner-border text-default" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="bar-bar1" class="height-400">
                        <canvas *ngIf="!loading"  baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                            [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bar Chart Ends -->