<!-- Basic form layout section start -->
<section id="basic-form-layouts">
	<div class="row text-left">
		<div class="col-sm-12">
			<div class="content-header mt-0">Cliente</div>
		</div>
	</div>
	<div class="row text-left">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title" id="basic-layout-form">{{objCliente.intIdCliente == '0'?'Nuevo
						Cliente':'Editando
						Cliente'}}
					</h4>
				</div>
				<div class="card-body">
					<div class="px-3">
						<form class="form">
							<div class="form-body">
								<h4 class="form-section"><i class="ft-user"></i> Datos del cliente</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="txtNombre">Nombre Completo</label>
											<input type="text" id="txtNombre" [(ngModel)]="objCliente.strNombre"
												class="form-control" name="fname">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="txtCorreo">Correo</label>
											<input type="text" id="txtCorreo" [(ngModel)]="objCliente.strCorreo"
												class="form-control" name="fcorreo">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class=" form-group">
											<label for="lblRestaurante">Empresa</label>
											<select id="cmbrestaurantes" name="cmbrestaurantes" class="form-control"
												(change)="getSucursales()" [(ngModel)]="objCliente.intIdEmpresa"
												#cmbrestaurantes="ngModel">
												<option value="" selected="" disabled="">Seleccione</option>
												<option *ngFor="let item of arrayEmpresa"
													value="{{item['intIdEmpresa']}}">
													{{item['strNombreComercial']}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="lblSucursal">Sucursal</label>
											<ng-select [items]="arraySucursal" [multiple]="true" [closeOnSelect]="true"
												[hideSelected]="false" bindLabel="strNombre" bindValue="intIdSucursal"
												[ngModelOptions]="{ standalone: true }"
												placeholder="Seleccione Sucursal"
												[(ngModel)]="objCliente.arrayIdSucursal" (change)="getArea()">
											</ng-select>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="lblArea">Area</label>
											<ng-select [items]="arrayArea" [multiple]="true" [closeOnSelect]="true"
												[hideSelected]="false" bindLabel="strArea" bindValue="intIdArea"
												[ngModelOptions]="{ standalone: true }" placeholder="Seleccione Area"
												[(ngModel)]="objCliente.arrayIdArea">
											</ng-select>
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<button type="button" class="btn btn-raised btn-raised btn-warning mr-1"
									[routerLink]="['/tables/clienteMovil']">
									<i class="ft-x"></i> Cancelar
								</button>
								<button type="button" class="btn btn-raised btn-raised btn-primary"
									(click)="guardarDatos()">
									<i class="fa fa-check-square-o"></i> Guardar Datos
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- // Basic form layout section end -->