<!-- Line Chart Starts -->
<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header mt-0">Preguntas individuales</div>
        <p class="content-sub-header">{{descripcion}}
            <a class="text-info" (click)="vermas()">
                <strong>{{descripcion == descripcionOrigin?' ... ver menos':' ... ver más'}}</strong>
            </a>
        </p>
    </div>
</div>

<div class="row text-left">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="projectinput5">Encuestas Activas</label>
            <select id="cmbRol" name="cmbRol" class="form-control" [(ngModel)]="arrayParametrosPreguntas.intIdEncuesta"
                (change)="getPregunta()">
                <option value="" selected="">TODAS</option>
                <option *ngFor="let item of arrayEncuestas" value="{{item.intIdEncuesta}}">{{item.strTitulo}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="projectinput5">Preguntas Activas</label>
            <select id="cmbRol" name="cmbRol" class="form-control" [(ngModel)]="arrayParametrosEncuestas.intIdPregunta"
                (change)="getResultadoProPregunta()">
                <option value="" selected="">TODAS</option>
                <option *ngFor="let item of arrayPreguntas" value="{{item.intIdPregunta}}">{{item.strPregunta}}
                </option>
            </select>
        </div>
    </div>
</div>

<!-- Bar Chart Starts -->
<div class="row text-left">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="projectinput5">Sucursal</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <ng-select [items]="arraySucursal" [multiple]="false" [closeOnSelect]="true"
                                            [hideSelected]="false" bindLabel="strNombre" bindValue="intIdSucursal"
                                            placeholder="Seleccione Sucursal" [(ngModel)]="objSelectSucursal"
                                            (change)="getResultadoProPregunta()">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="projectinput5">Tiempo</label>
                            <select id="cmbRol" name="cmbRol" class="form-control"
                                [(ngModel)]="arrayParametrosEncuestas.intLimite" (change)="getResultadoProPregunta()">
                                <option value="1">Mes Actual</option>
                                <option value="3">3 meses</option>
                                <option value="6">6 meses</option>
                                <option value="12">1 año</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="projectinput5">Horario</label>
                            <select id="cmbRol" name="cmbRol" class="form-control"
                                [(ngModel)]="arrayParametrosEncuestas.strHorario" (change)="getResultadoProPregunta()">
                                <option value="" selected="">TODOS</option>
                                <option *ngFor="let item of arrayHorarios" value="{{item.strValor1}}">{{item.strValor1}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="projectinput5">Genero</label>
                            <select id="projectinput5" name="interested" class="form-control"
                                [(ngModel)]="arrayParametrosEncuestas.strGenero" (change)="getResultadoProPregunta()">
                                <option value="" selected="">TODOS</option>
                                <option value="MASCULINO">MASCULINO</option>
                                <option value="FEMENINO">FEMENINO</option>
                                <option value="SIN GENERO">SIN GENERO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="projectinput5">Rango Edad</label>
                            <select id="cmbRol" name="cmbRol" class="form-control"
                                [(ngModel)]="arrayParametrosEncuestas.strEdad" (change)="getResultadoProPregunta()">
                                <option value="" selected="">TODOS</option>
                                <option *ngFor="let item of arrayEdades" value="{{item.strValor1}}">{{item.strValor1}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="loading" class="form-group">
                <div class="col-md-12 text-center">
                    <div style="width: 3rem; height: 3rem;" class="spinner-border text-default" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="card-block">
                    <div id="bar-bar1" class="height-700">
                        <canvas baseChart id="chartPreguntas" height="90" width="200" class="chart"
                            [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                            [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType"
                            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                        <br>
                        <h6 class="text-center"><small><strong>Número de Encuestas por mes</strong></small></h6>
                        <div *ngFor="let item of arrayTotalEncuestas" class="text-center">
                            <h6> <small>{{monthNames[item['intMes']-1]}} - {{item['intNumeroEncuesta']}} </small></h6>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Bar Chart Ends -->