<!--Extended Table starts-->
<div class="row text-left">
    <div class="col-12">
        <div class="content-header mt-0">Redimir Cupón</div>
        <p class="content-sub-header">{{descripcion}}
            <a class="text-info" (click)="vermas()">
                <strong>{{descripcion == descripcionOrigin?' ... ver menos':' ... ver más'}}</strong>
            </a>
        </p>
    </div>
</div>
<section id="extended">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-5">
                            <input type='text' class="form-control" [(ngModel)]="buscaCliente"
                                placeholder='Filtra clientes por nombre o cupón' />
                        </div>
                        <div class="col-sm-2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <select id="cmbEstado" name="cmbEstado" class="form-control"
                                            [(ngModel)]="strEstadoFiltro" #cmbRol="ngModel">
                                            <option *ngFor="let item of arrayEstados" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <ng-select [items]="arrayEmpresa" [multiple]="false" [closeOnSelect]="true"
                                    [hideSelected]="false" bindLabel="strNombreComercial" bindValue="intIdEmpresa"
                                    placeholder="Seleccione Empresa" [(ngModel)]="strEmpresaSeleccionada"
                                    [disabled]="user.strTipoRol != 'ADMINISTRADOR'"
                                    (change)="getClientesRestaurante(strEmpresaSeleccionada)" name="cmbEmpresa">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-2" align="left">
                            <button *ngIf="getAccion('EXCEL')" type="button"
                                class="btn btn-raised btn-raised btn-success" (click)="exportAsXLSX()">
                                <i class="fa fa-file-excel-o"></i>
                            </button>
                            <button *ngIf="getAccion('PDF')" type="button" style="margin-left:0.7rem"
                                class="btn btn-raised btn-raised btn-danger" (click)="exportAsPDF()">
                                <i class="fa fa-file-pdf-o"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="getAccion('VER')" class="card-block">
                        <table id="tblrestaurantes" class="table table-responsive-md text-center">
                            <thead>
                                <tr>
                                    <th *ngIf="user.strTipoRol == 'ADMINISTRADOR'">Código Cliente</th>
                                    <th>Nombres completos</th>
                                    <th *ngIf="user.strTipoRol == 'ADMINISTRADOR'">Correo</th>
                                    <th>Cupón</th>
                                    <th>Fecha Creación</th>
                                    <th>Fecha Vigencia</th>
                                    <th>Estado</th>
                                    <th>Promoción</th>
                                    <th>Redimir Cupón</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let item of arrayResultado | FilterRedimirCupon : buscaCliente : strEstadoFiltro | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td *ngIf="user.strTipoRol == 'ADMINISTRADOR'">CL-{{item['ID_CLIENTE']}}
                                    </td>
                                    <td>{{item['NOMBRE_COMPLETO']}}</td>
                                    <td *ngIf="user.strTipoRol == 'ADMINISTRADOR'">{{item['CORREO']}}</td>
                                    <td>{{item['CUPON']}}</td>
                                    <td>{{item['FE_CREACION']}}</td>
                                    <td>{{item['FE_VIGENCIA']}}</td>
                                    <td>{{item['ESTADO']}}</td>
                                    <td>{{item['PROMOCION']}}</td>
                                    <td>
                                        <button [disabled]="!getAccion('REDIMIR')" type="button" style="width: 100%"
                                            class="btn btn-raised btn-raised btn-info"
                                            (click)="getModalCupon(content,item)">
                                            <i class="fa fa-ticket"></i> Redimir
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Extended Table Ends-->
<!-- Modal para listar las promociones por cliente-->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Cliente: {{clienteSeleccionado.NOMBRE_COMPLETO}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <p class="content-sub-header">Seleccione las promociones a redimir.</p>
            <div class="col-sm-12 text-center">
                <div *ngIf="!arrayPromociones || loading" style="width: 3rem; height: 3rem;"
                    class="spinner-border text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <table *ngIf="arrayPromociones && arrayPromociones.length != 0" id="tblpromociones"
                class="table table-responsive-md text-center">
                <thead>
                    <tr>
                        <th>Promoción</th>
                        <th>Seleccione</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of arrayPromociones">
                        <td>{{item['strDescPromo']}}</td>
                        <td>
                            <input type="checkbox" [(ngModel)]="item.CHECKED" class="form-control">
                        </td>
                    </tr>
                </tbody>
            </table>
            <h5 *ngIf="arrayPromociones && arrayPromociones.length == 0">No hay promociones seleccionadas por el cliente
            </h5>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cancelar</button>
        <button type="button" class="btn btn-outline-success" (click)="redimirCupon()">Redimir Cupón</button>
    </div>
</ng-template>