<!-- Line Chart Starts -->
<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header mt-0">Comparativa por Sucursal</div>
        <p class="content-sub-header">{{descripcion}}
            <!--<a class="text-info" (click)="vermas()">
                <strong>{{descripcion == descripcionOrigin?' ... ver menos':' ... ver más'}}</strong>
            </a>-->
        </p>
    </div>
</div>

<!-- Bar Chart Starts -->
<div class="row text-left">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="projectinput5">Sucursal</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <ng-select [items]="arraySucursal" [multiple]="true" [closeOnSelect]="true"
                                            [hideSelected]="false" bindLabel="strNombre" bindValue="intIdSucursal"
                                            placeholder="Seleccione" [(ngModel)]="arraySelectSucursal"
                                            (change)="getEncuesta();getArea()">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="projectinput5">Area</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <ng-select [items]="arrayArea" [multiple]="false" [closeOnSelect]="true"
                                            [hideSelected]="false" bindLabel="strArea" bindValue="strArea"
                                            placeholder="Seleccione" [(ngModel)]="objSelectArea"
                                            (change)="getEncuesta()">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="projectinput5">Encuestas</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <ng-select [items]="arrayEncuestas" [multiple]="false" [closeOnSelect]="true"
                                            [hideSelected]="false" bindLabel="strTitulo" bindValue="strTitulo"
                                            placeholder="Seleccione" [(ngModel)]="objSelectEncuesta"
                                            (change)="getPregunta()">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="projectinput5">Preguntas</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <ng-select [items]="arrayPreguntas" [multiple]="false" [closeOnSelect]="true"
                                            [hideSelected]="false" bindLabel="strPregunta" bindValue="strPregunta"
                                            placeholder="Seleccione" [(ngModel)]="objSelectPregunta"
                                            (change)="getResultadoProPregunta()">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="projectinput5">Tiempo</label>
                            <select id="idStrSelectMes" [(ngModel)]="strSelectMes" class="form-control"
                                name="idStrSelectMes" (change)="getResultadoProPregunta()">
                                <option *ngFor="let item of arrayMeses" value="{{item.numMes}}">
                                    {{item.mes}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="projectinput5">Genero</label>
                            <select id="projectinput5" name="interested" class="form-control"
                                [(ngModel)]="arrayParametrosEncuestas.strGenero" (change)="getResultadoProPregunta()">
                                <option value="" selected="">TODOS</option>
                                <option value="MASCULINO">MASCULINO</option>
                                <option value="FEMENINO">FEMENINO</option>
                                <option value="SIN GENERO">SIN GENERO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="projectinput5">Horario</label>
                            <select id="cmbRol" name="cmbRol" class="form-control"
                                [(ngModel)]="arrayParametrosEncuestas.strHorario" (change)="getResultadoProPregunta()">
                                <option value="" selected="">TODOS</option>
                                <option *ngFor="let item of arrayHorarios" value="{{item.strValor1}}">{{item.strValor1}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="projectinput5">Rango Edad</label>
                            <select id="cmbRol" name="cmbRol" class="form-control"
                                [(ngModel)]="arrayParametrosEncuestas.strEdad" (change)="getResultadoProPregunta()">
                                <option value="" selected="">TODOS</option>
                                <option *ngFor="let item of arrayEdades" value="{{item.strValor1}}">{{item.strValor1}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="projectinput5">Exportar</label>
                            <button type="button" class="form-control btn btn-raised btn-raised btn-success"
                                (click)="getExportarCsv()">
                                <i class="fa fa-file-excel-o"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="objLoading" class="form-group">
                <div class="col-md-12 text-center">
                    <div style="width: 3rem; height: 3rem;" class="spinner-border text-default" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="bar-bar1" class="height-700">
                        <canvas id="chartEncuesta" baseChart class="chart" [datasets]="barChartData"
                            [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors"
                            [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bar Chart Ends -->