<!-- Line Chart Starts -->
<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header mt-0">Encuesta</div>
        <p class="content-sub-header">{{descripcion}}
            <a class="text-info" (click)="vermas()">
                <strong>{{descripcion == descripcionOrigin?' ... ver menos':' ... ver más'}}</strong>
            </a>
        </p>
    </div>
</div>

<!-- Bar Chart Starts -->
<div class="row text-left">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-2"
                        *ngIf="user.DESCRIPCION_TIPO_ROL=='RESTAURANTE' || user.DESCRIPCION_TIPO_ROL=='RESTAURANTE GERENCIA'">
                        <div class="form-group">
                            <label for="projectinput5">Sucursal</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <ng-select [items]="objListSucursalUsuarioRes" [multiple]="false"
                                            [closeOnSelect]="true" [hideSelected]="false" bindLabel="DESCRIPCION"
                                            bindValue="ID_SUCURSAL" placeholder="Seleccione Sucursal"
                                            name="cmbSucursalUsuarioRes" [(ngModel)]="objSelectSucursalUsuarioRes"
                                            (change)="getPreguntasEncuestaActiva()">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="user.DESCRIPCION_TIPO_ROL=='ADMINISTRADOR'">
                        <div class="form-group">
                            <label for="projectinput5">Sucursal</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <ng-select [items]="objListSucursalUsuarioAdmin" [multiple]="false"
                                            [closeOnSelect]="true" [hideSelected]="false" bindLabel="DESCRIPCION"
                                            bindValue="ID_SUCURSAL" placeholder="Seleccione Sucursal"
                                            name="cmbSucursalUsuarioAdmin" [(ngModel)]="objSelectSucursalUsuarioAdmin"
                                            (change)="getPreguntasEncuestaActiva()">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="projectinput5">Rango Fechas</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="date" id="txtFechaInicio" [(ngModel)]="parametros.fechaInicio"
                                        class="form-control" (change)="getPreguntasEncuestaActiva()"
                                        name="txtFechaInicio">
                                </div>
                                <div class="col-md-6">
                                    <input type="date" id="txtFechaFin" [(ngModel)]="parametros.fechaFin"
                                        class="form-control" (change)="getPreguntasEncuestaActiva()" name="txtFechaFin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="projectinput5">Horario</label>
                            <select id="cmbRol" name="cmbRol" class="form-control" [(ngModel)]="parametros.horario"
                                (change)="getPreguntasEncuestaActiva()">
                                <option value="" selected="">TODOS</option>
                                <option *ngFor="let item of listHorarios" value="{{item.VALOR1}}">{{item.VALOR1}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="projectinput5">Genero</label>
                            <select id="projectinput5" name="interested" class="form-control"
                                [(ngModel)]="parametros.genero" (change)="getPreguntasEncuestaActiva()">
                                <option value="" selected="">TODOS</option>
                                <option value="MASCULINO">MASCULINO</option>
                                <option value="FEMENINO">FEMENINO</option>
                                <option value="SIN GENERO">SIN GENERO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="projectinput5">Rango Edad</label>
                            <select id="cmbRol" name="cmbRol" class="form-control" [(ngModel)]="parametros.edad"
                                (change)="getPreguntasEncuestaActiva()">
                                <option value="" selected="">TODOS</option>
                                <option *ngFor="let item of listEdades" value="{{item.VALOR1}}">{{item.VALOR1}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!---->
                <div *ngIf="user.DESCRIPCION_TIPO_ROL == 'ADMINISTRADOR'" class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="cmbPais">Pais</label>
                            <select id="cmbPais" name="cmbPais" class="form-control" [(ngModel)]="parametros.pais"
                                (change)="getProvincia(parametros.pais)">
                                <option *ngFor="let item of listPais" value="{{item['ID_PAIS']}}">
                                    {{item['PAIS_NOMBRE']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cmbPrv">Provincia</label>
                            <select id="cmbPrv" name="cmbPrv" class="form-control" [(ngModel)]="parametros.provincia"
                                (change)="getCiudad(parametros.provincia)">
                                <option value="" selected="">TODOS</option>
                                <option *ngFor="let item of listProvincia" value="{{item['ID_PROVINCIA']}}">
                                    {{item['PROVINCIA_NOMBRE']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cmbCiudad">Ciudad</label>
                            <select id="cmbCiudad" name="cmbCiudad" class="form-control" [(ngModel)]="parametros.ciudad"
                                (change)="getParroquia(parametros.ciudad)">
                                <option value="" selected="">TODOS</option>
                                <option *ngFor="let item of listCiudad" value="{{item['ID_CIUDAD']}}">
                                    {{item['CIUDAD_NOMBRE']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cmbSector">Sector</label>
                            <select id="cmbSector" name="cmbSector" [(ngModel)]="parametros.parroquia"
                                class="form-control">
                                <option value="" selected="">TODOS</option>
                                <option *ngFor="let item of listParroquia" value="{{item['ID_PARROQUIA']}}">
                                    {{item['PARROQUIA_NOMBRE']}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="loading" class="form-group">
                <div class="col-md-12 text-center">
                    <div style="width: 3rem; height: 3rem;" class="spinner-border text-default" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="bar-bar1" class="height-700">
                        <canvas id="chartEncuesta" baseChart class="chart" [datasets]="barChartData"
                            [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors"
                            [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bar Chart Ends -->