<!--Extended Table starts-->
<div class="row text-left">
    <div class="col-12">
        <div class="content-header mt-0">Promociones</div>
        <p class="content-sub-header">Clientes que acumulen puntos podrán acceder a comidas y bebidas gratis en su
            restaurante. En esta sección se ingresan y activan las promociones válidas con sus respectivos puntos de
            canje. Es importante incluir foto de la promoción. </p>
    </div>
</div>
<section id="extended">
    <div class="row text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="projectinput5">Criterios de Búsqueda</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type='text' class="form-control" [(ngModel)]="descripcionFiltro"
                                            placeholder='Filtra por descripción' />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="projectinput5">Restaurantes</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <ng-select [items]="listRestaurante" [multiple]="false"
                                                [closeOnSelect]="true" [hideSelected]="false"
                                                bindLabel="NOMBRE_COMERCIAL" bindValue="ID_RESTAURANTE"
                                                placeholder="Seleccione Restaurante" [(ngModel)]="buscaRestaurante"
                                                [disabled]="user.DESCRIPCION_TIPO_ROL != 'ADMINISTRADOR'"
                                                (change)="getPromocionByRestaurante(buscaRestaurante)"
                                                name="cmbRestaurante">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="projectinput5">Tipo</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select id="cmbTipoPromocion" name="cmbTipoPromocion" class="form-control"
                                                [(ngModel)]="strTipoPromocion" #cmbRol="ngModel">
                                                <option *ngFor="let item of arrayTipoPromocion"
                                                    value="{{item['DESCRIPCION']}}">
                                                    {{item['DESCRIPCION']}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="projectinput5">Acción</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button *ngIf="getAccion('CREAR')" type="button"
                                            class="btn btn-raised btn-raised btn-primary"
                                            [routerLink]="['/forms/promocion/0']">
                                            <i class="fa fa-plus"></i> Nueva Promocion
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="getAccion('VER')" class="card-block">
                        <table class="table table-responsive-md text-center">
                            <thead>
                                <tr>
                                    <th>Promoción</th>
                                    <th>Restaurante</th>
                                    <th>Tipo</th>
                                    <th>Estado</th>
                                    <th>Puntos</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of rows | filtroPromocion : descripcionFiltro : strTipoPromocion | paginate: { itemsPerPage: 20, currentPage: p }"
                                    [className]="item['ESTADO']=='INACTIVO'?'bg-danger':'bg-light'">
                                    <td>{{item['DESCRIPCION_TIPO_PROMOCION']}}</td>
                                    <td>{{item['NOMBRE_COMERCIAL']}}</td>
                                    <td>{{item['TIPO_PROMOCION']}}</td>
                                    <td>{{item['ESTADO']}}</td>
                                    <td>{{item['CANTIDAD_PUNTOS']}}</td>
                                    <td>
                                        <a *ngIf="getAccion('EDITAR')" class="success p-0" data-original-title=""
                                            title="Editar Promocion"
                                            [routerLink]="['/forms/promocion/' + item['ID_PROMOCION']]">
                                            <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Extended Table Ends-->