<!-- Line Chart Starts -->
<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header mt-0">Indice Promotor Neto (IPN)</div>
        <p class="content-sub-header">{{descripcion}}
            <a *ngIf="descripcion != descripcionOrigin" class="text-info" (click)="vermas()">
                <strong> ... ver más</strong>
            </a>
        </p>
        <ul *ngIf="descripcion == descripcionOrigin" class="list-group">
            <li class="list-group-item"><strong>PROMOTORES - Calificaciones de 9 - 10:</strong> Clientes que dan
                comentarios positivos y recomendaciones de su Empresa. </li>
            <li class="list-group-item"><strong>PROMOTORES - Calificaciones de 7 - 8:</strong> Clientes que no opinan
                sobre su Empresa.</li>
            <li class="list-group-item"><strong>PROMOTORES - Calificaciones de 1 - 6:</strong> Clientes que dan malas
                recomendaciones sobre su Empresa. </li>
        </ul>
        <br *ngIf="descripcion == descripcionOrigin">
        <p *ngIf="descripcion == descripcionOrigin" class="content-sub-header">
            El cálculo del IPN se obtiene restando los detractores de los promotores que brinda un porcentaje
            estadístico. El resultado es un número -100 a 100. Si el resultado es positivo, se considera bueno, si es +
            50 se considera muy bueno, ya que más de la mitad de su clientela está comentando de manera positiva sobre
            la experiencia en su Empresa. Puntuaciones mayores de 60-70 serían excelentes.
            <a class="text-info" (click)="vermas()">
                <strong> ... ver menos</strong>
            </a>
        </p>
    </div>
</div>

<div class="row text-left">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div *ngIf="user.strTipoRol == 'EMPRESA'" class="col-md-3">
                        <div class="form-group">
                            <label for="projectinput5">Sucursal</label>
                            <div class="form-group">
                                <ng-select [items]="arraySucursal" [multiple]="false" [closeOnSelect]="true"
                                    [hideSelected]="false" bindLabel="strNombre" bindValue="intIdSucursal"
                                    placeholder="Seleccione Sucursal" name="cmbSucursalUsuarioRes"
                                    [(ngModel)]="objSelectSucursal" (change)="getArea();getResultadoProIPN()">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="user.strTipoRol == 'EMPRESA'" class="col-md-3">
                        <div class="form-group">
                            <label for="projectinput5">Area</label>
                            <div class="form-group">
                                <ng-select [items]="arrayArea" [multiple]="false" [closeOnSelect]="true"
                                    [hideSelected]="false" bindLabel="strArea" bindValue="intIdArea"
                                    placeholder="Seleccione Area" [(ngModel)]="objSelectArea"
                                    (change)="getResultadoProIPN()">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="user.strTipoRol == 'ADMINISTRADOR'" class="col-md-6">
                        <div class="form-group">
                            <label for="cmbEmpresa">Empresa</label>
                            <ng-select [items]="arrayEmpresa" [multiple]="false" [closeOnSelect]="true"
                                [hideSelected]="false" bindLabel="strNombreComercial" bindValue="intIdEmpresa"
                                placeholder="Seleccione Empresa" name="cmbEmpresa" [(ngModel)]="objSelectEmpresa"
                                (change)="getResultadoProIPN()">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="projectinput5">Rango Fechas</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="date" id="txtFechaInicio"
                                        [(ngModel)]="arrayParametrosIpn.strFechaInicio" class="form-control"
                                        (change)="getResultadoProIPN()" name="txtFechaInicio">
                                </div>
                                <div class="col-md-6">
                                    <input type="date" id="txtFechaFin" [(ngModel)]="arrayParametrosIpn.strFechaFin"
                                        class="form-control" (change)="getResultadoProIPN()" name="txtFechaFin">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="projectinput5">Horario</label>
                            <select id="cmbRol" name="cmbRol" class="form-control"
                                [(ngModel)]="arrayParametrosIpn.strHorario" (change)="getResultadoProIPN()">
                                <option value="" selected="">TODOS</option>
                                <option *ngFor="let item of arrayHorarios" value="{{item.strValor1}}">{{item.strValor1}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="projectinput5">Genero</label>
                            <select id="projectinput5" name="interested" class="form-control"
                                [(ngModel)]="arrayParametrosIpn.strGenero" (change)="getResultadoProIPN()">
                                <option value="" selected="">TODOS</option>
                                <option value="MASCULINO">MASCULINO</option>
                                <option value="FEMENINO">FEMENINO</option>
                                <option value="SIN GENERO">SIN GENERO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="projectinput5">Rango Edad</label>
                            <select id="cmbRol" name="cmbRol" class="form-control"
                                [(ngModel)]="arrayParametrosIpn.strEdad" (change)="getResultadoProIPN()">
                                <option value="" selected="">TODOS</option>
                                <option *ngFor="let item of arrayEdades" value="{{item.strValor1}}">{{item.strValor1}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading" class="form-group">
    <div class="col-md-12 text-center">
        <div style="width: 3rem; height: 3rem;" class="spinner-border text-default" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<!-- Bar Chart Starts -->
<div class="row text-left">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <h5 align="center" class="form-section" style="font-weight:600;padding-top: 10">IPN:
                        {{intPorcentajeIPN}}%</h5>
                    <div id="bar-doughnut" class="height-400">
                        <canvas baseChart class="chart" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                            [options]="doughnutChartOptions" [chartType]="doughnutChartType"
                            [colors]="doughnutChartColors" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <br>
                    <div id="bar-bar1" class="height-400">
                        <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                            [chartType]="barChartType" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bar Chart Ends -->