<!-- Line Chart Starts -->
<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header mt-0">Publicaciones (compartidos en redes sociales)</div>
        <p class="content-sub-header">{{descripcion}}
            <a class="text-info" (click)="vermas()">
                <strong>{{descripcion == descripcionOrigin?'  ... ver menos':'  ... ver más'}}</strong>
            </a>
        </p>
    </div>
</div>

<!-- Bar Chart Starts -->
<div class="row text-left">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="projectinput5">Tiempo</label>
                            <select id="cmbRol" name="cmbRol" class="form-control" [(ngModel)]="parametros.limite"  (change)="getPublicacionesPromedio()">
                                <option value="1" >Mes Actual</option>
                                <option value="3" >3 meses</option>
                                <option value="6" >6 meses</option>
                                <option value="12" >1 año</option>
                            </select>
                        </div>                                              
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="projectinput5">Horario</label>
                            <select id="cmbRol" name="cmbRol" class="form-control" [(ngModel)]="parametros.horario" (change)="getPublicacionesPromedio()">
                                <option value="" selected="" >TODOS</option>
                                <option *ngFor="let item of listHorarios" value="{{item.VALOR1}}" >{{item.VALOR1}}</option>
                            </select>
                        </div>                                              
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="projectinput5">Genero</label>
                            <select id="projectinput5" name="interested" class="form-control" [(ngModel)]="parametros.genero" (change)="getPublicacionesPromedio()">
                                <option value="" selected="" >TODOS</option>
                                <option value="MASCULINO">MASCULINO</option>
                                <option value="FEMENINO">FEMENINO</option>
                                <option value="SIN GENERO">SIN GENERO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="projectinput5">Rango Edad</label>
                            <select id="cmbRol" name="cmbRol" class="form-control" [(ngModel)]="parametros.edad" (change)="getPublicacionesPromedio()">
                                <option value="" selected="" >TODOS</option>
                                <option *ngFor="let item of listEdades" value="{{item.VALOR1}}" >{{item.VALOR1}}</option>
                            </select>
                        </div>                                              
                    </div>
                </div>
            </div>
            <div *ngIf="loading" class="form-group">
                <div class="col-md-12 text-center">
                    <div style="width: 3rem; height: 3rem;"  class="spinner-border text-default" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="bar-bar1" class="height-400">
                        <canvas baseChart id="chartPublicacion" class="chart" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                            [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bar Chart Ends -->