<!-- Basic form layout section start -->
<section id="basic-form-layouts">
	<div class="row text-left">
		<div class="col-sm-12">
			<div class="content-header mt-0">Usuario</div>
		</div>
	</div>
	<div class="row text-left">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title" id="basic-layout-form">{{usuario.intIdUsuario == '0'?'Nuevo usuario':'Editando
						usuario'}}</h4>
				</div>
				<div class="card-body">
					<div class="px-3">
						<form class="form">
							<div class="form-body">
								<h4 class="form-section"><i class="ft-user"></i> Datos del Usuario</h4>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label for="txtNombres">Nombres</label>
											<input type="text" id="txtNombres" [(ngModel)]="usuario.strNombre"
												class="form-control" name="txtnombre">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="txtApellidos">Apellidos</label>
											<input type="text" id="txtApellidos" [(ngModel)]="usuario.strApellido"
												class="form-control" name="txtApellido">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="txtIdentificacion">Identificación</label>
											<input type="text" id="txtIdentificacion"
												[(ngModel)]="usuario.strIdentificacion" class="form-control"
												name="txtidentificacion">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label for="txtEmail">Correo</label>
											<input type="text" id="txtEmail" [(ngModel)]="usuario.strCorreo"
												class="form-control" name="txtcorreo">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="cmbRol">Rol</label>
											<select id="cmbRol" name="cmbRol" class="form-control"
												[(ngModel)]="usuario.intIdTipoRol" #cmbRol="ngModel">
												<option value="" selected="" disabled="">Seleccione</option>
												<option *ngFor="let item of listRol" value="{{item['intIdRol']}}">
													{{item['strRol']}}</option>
											</select>
										</div>
									</div>

									<div class="col-md-4" *ngIf="usuario.idtiporol != 1">
										<div class=" form-group">
											<label for="lblRestaurante">Empresa</label>
											<select id="cmbrestaurantes" name="cmbrestaurantes" class="form-control"
												[(ngModel)]="usuario.intIdEmpresa" #cmbrestaurantes="ngModel">
												<option value="" selected="" disabled="">Seleccione</option>
												<option *ngFor="let item of arrayEmpresa" value="{{item['intIdEmpresa']}}">
													{{item['strNombreComercial']}}</option>
											</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label>Recibir correo de encuesta</label>
											<div class="input-group">
												<div class="custom-control custom-radio display-inline-block">
													<input type="radio" id="rdNotificacionSi" name="rdNotificacionSi"
														class="custom-control-input" [(ngModel)]="usuario.strNotificacion"
														[value]="true">
													<label class="custom-control-label"
														for="rdNotificacionSi">Si</label>
												</div>
												<div class="custom-control custom-radio display-inline-block">
													<input type="radio" id="rdNotificacionNo" name="rdNotificacionNo"
														class="custom-control-input" [(ngModel)]="usuario.strNotificacion"
														[value]="false">
													<label class="custom-control-label"
														for="rdNotificacionNo">No</label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Estado</label>
											<div class="input-group">
												<div class="custom-control custom-radio display-inline-block">
													<input type="radio" id="rdEstado" name="rdEstado"
														class="custom-control-input" [(ngModel)]="usuario.strEstado"
														[value]="true">
													<label class="custom-control-label" for="rdEstado">Activo</label>
												</div>
												<div class="custom-control custom-radio display-inline-block">
													<input type="radio" id="rdEstado2" name="rdEstado2"
														class="custom-control-input" [(ngModel)]="usuario.strEstado"
														[value]="false">
													<label class="custom-control-label" for="rdEstado2">Inactivo</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="form-actions">
								<button type="button" class="btn btn-raised btn-raised btn-warning mr-1"
									[routerLink]="['/tables/usuario']">
									<i class="ft-x"></i> Cancelar
								</button>
								<button type="button" class="btn btn-raised btn-raised btn-primary"
									(click)="guardarDatos()">
									<i class="fa fa-check-square-o"></i> Guardar Datos
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>