<!-- Line Chart Starts -->
<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header mt-0">Industria</div>
        <p class="content-sub-header">Acceda a información comparativa sobre su restaurantes versus otros restaurantes de la zona o tipo de comida.</p>
    </div>
</div>

<div class="row text-left">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">                
                <div class="row">                    
                    <div class="col-sm-12">
                        <h4 class="form-section">Mi restaurante</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">									
                                        <div class="col-md-12">
                                            <ng-select
                                                [items]="listRestaurante"
                                                [multiple]="false"
                                                [closeOnSelect]="true"
                                                [hideSelected]="true"
                                                [maxSelectedItems]="1"
                                                bindLabel="NOMBRE_COMERCIAL"
                                                bindValue="ID_RESTAURANTE"
                                                placeholder="Seleccione restaurante"
                                                [(ngModel)]="parametros.idrestaurante"
                                                (change)="getComparacionRestaurantes()"
                                                name="cmbrestaurantes">
                                            </ng-select>
                                        </div>				
                                    </div>	
                                </div> 
                            </div>  
                        </div>
                        <br>
                        <h4 class="form-section">Tiempo</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <select id="cmbRol" name="cmbRol" class="form-control" [(ngModel)]="parametros.limite" (change)="getComparacionRestaurantes()" >
                                        <option value="1" >Mes Actual</option>
                                        <option value="3" >3 meses</option>
                                        <option value="6" >6 meses</option>
                                        <option value="12" >1 año</option>
                                    </select>
                                </div>                                              
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
            <div class="card">
                <div class="card-header">                
                    <div class="row">    
                        <div class="col-sm-12">
                            <h4 class="form-section">Otros restaurantes</h4>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="cmbtipocomida">Tipo de Comida</label>
                                        <select id="cmbtipocomida" [(ngModel)]="parametros.idtipocomida" class="form-control" name="cmbtipocomida" (change)="getComparacionRestaurantes()">
                                            <option value="" selected="" >TODOS</option>
                                                <option *ngFor="let item of listTipoComida" value="{{item['ID_TIPO_COMIDA']}}">{{item['DESCRIPCION_TIPO_COMIDA']}}</option>
                                        </select>
                                    </div>   
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="cmbPais">Pais</label>
                                        <select id="cmbPais" name="cmbPais" class="form-control" [(ngModel)]="parametros.pais" (change)="getProvincia(parametros.pais)">
                                            <option *ngFor="let item of listPais" value="{{item['ID_PAIS']}}">{{item['PAIS_NOMBRE']}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="cmbPrv">Provincia</label>
                                        <select id="cmbPrv" name="cmbPrv" class="form-control" [(ngModel)]="parametros.provincia" (change)="getCiudad(parametros.provincia)">
                                            <option value="" selected="" >TODOS</option>
                                            <option *ngFor="let item of listProvincia" value="{{item['ID_PROVINCIA']}}">{{item['PROVINCIA_NOMBRE']}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">  
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="cmbCiudad">Ciudad</label>
                                        <select id="cmbCiudad" name="cmbCiudad" class="form-control" [(ngModel)]="parametros.ciudad" (change)="getParroquia(parametros.ciudad)">
                                            <option value="" selected="" >TODOS</option>
                                            <option *ngFor="let item of listCiudad" value="{{item['ID_CIUDAD']}}">{{item['CIUDAD_NOMBRE']}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label for="cmbSector">Sector</label>
                                        <select id="cmbSector" name="cmbSector" [(ngModel)]="parametros.parroquia" class="form-control" (change)="getComparacionRestaurantes()">
                                            <option value="" selected="" >TODOS</option>
                                            <option *ngFor="let item of listParroquia" value="{{item['ID_PARROQUIA']}}">{{item['PARROQUIA_NOMBRE']}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
</div>

<div *ngIf="loading" class="form-group">
    <div class="col-md-12 text-center">
        <div style="width: 3rem; height: 3rem;"  class="spinner-border text-default" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<!-- Bar Chart Starts -->
<div class="row text-left">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div id="bar-bar1" class="height-400">
                        <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                            [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bar Chart Ends -->